:root {
  --orange: #ffa500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

*::selection {
  background: var(--orange);
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}
